
<%- include('partials/header') %>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> All Customers</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-light">Use the below form to Update an account</span>
        </div>

        <form method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="first_name" class="text-light">First name</label>
                    <input type="hidden" name="uuid" value="<%= customer.uuid %>">
                    <input type="text" name="first_name" value="<%= customer.first_name %>" placeholder="Enter First Name ...">
                </div>
                <div class="form-group">
                    <label for="last_name" class="text-light">Last name</label>
                    <input type="text" name="last_name" value="<%= customer.last_name %>" placeholder="Enter Last Name ...">
                </div>
                <div class="form-group">
                    <label for="street" class="text-light">Street</label>
                    <input type="text" name="street" value="<%= customer.street %>" placeholder="Enter Street Name ...">
                </div>
                <div class="form-group">
                    <label for="address" class="text-light">Address</label>
                    <input type="text" name="address" value="<%= customer.address%>" placeholder="Enter Address ...">
                </div>
                <div class="form-group">
                    <label for="city" class="text-light">City</label>
                    <input type="text" name="city" value="<%= customer.city %>" placeholder="Enter City name ...">
                </div>
                <div class="form-group">
                    <label for="state" class="text-light">State</label>
                    <input type="text" name="state" value="<%= customer.state %>" placeholder="Enter State name ...">
                </div>
                <div class="form-group">
                    <label for="email" class="text-light">Email</label>
                    <input type="text" name="email" value="<%= customer.email %>" placeholder="Enter Email ID ...">
                </div>
                <div class="form-group">
                    <label for="phone" class="text-light">Phone</label>
                    <input type="number" name="phone" value="<%= customer.phone %>" placeholder="Enter Phone number ...">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>

            </div>
        </form>

    </div>
</main>

<%- include('partials/footer') %>
